.card{
    background: conic-gradient(from 275deg,black, rgba(0, 0, 0, 0.8), black);
    color: white;
    padding: 5px;
    width: 400px;
    height: 555px;
    border-radius:8px;
    font-size: 30px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0);
    margin-bottom: 20px;
    margin: 10px;
}

.img{
    width: 400px;
    height: auto;
    border-radius: 10px;
}

h5{
    margin-top: 10px;
    margin-bottom: 0;
}

h6{
    margin-top: 25px;
    margin-bottom: 0;
}